/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.zip
/public/BroacherPdf/
/public/EventImage/
/public/AssociationImages/
/public/EventPresentationVideo/
/public/NewsLetterPdf/
/public/bannerimage/
/public/annual-report/
/public/CompanyLogo/
/public/OffersPdf/
/public/PresentationPdf/
/public/ResumePdf/
